<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :base_price %>
    <%= form.text_field :base_price, id: :product_base_price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :quantity_on_hand %>
    <%= form.number_field :quantity_on_hand, id: :product_quantity_on_hand %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :product_color %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight, id: :product_weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
